<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Select Reaction</mat-label>
  <mat-select [(ngModel)]="value" (selectionChange)="getEmoji($event.value)">
    <mat-option *ngFor="let emoji of emojis" [value]="emoji.gif" class="reaction">
      <img src="{{emoji.gif}}" alt="emojis" width="40px" /> &nbsp; {{emoji.react}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h3>
  Your Reaction is: 
  <div class="emoji">
    <img src="{{value}}" alt="" width="80px">
  </div>
</h3>

<ol>
  <li>
    <mat-form-field>
      <mat-label>Receiver's Name?</mat-label>
      <input matInput [(ngModel)]="name2">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Send</button>
  </li>
  <li *ngIf="regalo">
    Your Reply: 
    <!-- <i>{{regalo}}</i> -->
    <div class="emoji">
    <i><img src="{{regalo}}" alt="" width="80px" (click)="openDialog()"></i>
    </div>
  </li>
</ol>